## DATAFRAME

In [1]:
import pandas as pd
df = {"Item Name": ["Bakmi Effata", "Nasi Hainam", "Bola Ubi"], 
     "Qty": [10, 2, 3] , 
     "Price": [10000, 5000, 7000]}
data = pd.DataFrame(df)
print(data)

      Item Name  Qty  Price
0  Bakmi Effata   10  10000
1   Nasi Hainam    2   5000
2      Bola Ubi    3   7000

In [2]:
totalPrice1 = pd.Series([])
totalPrice2 = pd.Series([])

for i in range(len(data)):
  totalPrice1[i] = data["Qty"][i] * data["Price"][i] 

totalPrice2 = data["Qty"] * data["Price"]

data.insert(3, "TotalPrice1", totalPrice1)
data.insert(4, "TotalPrice2", totalPrice2)
print(data)

      Item Name  Qty  Price  TotalPrice1  TotalPrice2
0  Bakmi Effata   10  10000       100000       100000
1   Nasi Hainam    2   5000        10000        10000
2      Bola Ubi    3   7000        21000        21000

In [3]:
maxValue = data.max()
print("- Maximum -\n")
print("All data: \n", maxValue)
print("Qty: ", maxValue["Qty"])
print("Price: ", maxValue["Price"])
print("Total Price: ", maxValue["TotalPrice1"])

minValue = data.min()
print("\n- Minimum -\n")
print("All data: \n", minValue)
print("Qty: ", minValue["Qty"])
print("Price: ", minValue["Price"])
print("Total Price: ", minValue["TotalPrice1"])

sumValue = data.sum()
print("\n- Summary -\n")
print("All data: \n", sumValue)
print("Qty: ", sumValue["Qty"])
print("Price: ", sumValue["Price"])
print("Total Price: ", sumValue["TotalPrice1"])

- Maximum -

All data:
 Item Name      Nasi Hainam
Qty                     10
Price                10000
TotalPrice1         100000
TotalPrice2         100000
dtype: object
Qty:  10
Price:  10000
Total Price:  100000

- Minimum -

All data:
 Item Name      Bakmi Effata
Qty                       2
Price                  5000
TotalPrice1           10000
TotalPrice2           10000
dtype: object
Qty:  2
Price:  5000
Total Price:  10000

- Summary -

All data:
 Item Name      Bakmi EffataNasi HainamBola Ubi
Qty                                         15
Price                                    22000
TotalPrice1                             131000
TotalPrice2                             131000
dtype: object
Qty:  15
Price:  22000
Total Price:  131000

In [4]:
df = pd.read_csv("iris.csv")
df.head()

   5.1  3.5  1.4  0.2  Iris-setosa
0  4.9  3.0  1.4  0.2  Iris-setosa
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa
3  5.0  3.6  NaN  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa

In [5]:
irisdf = pd.read_csv("iris.csv", names=["SepalLength", "SepalWidth", "PetalLength","PetalWidth","Class"])
irisdf.head()

   SepalLength  SepalWidth  PetalLength  PetalWidth        Class
0          5.1         3.5          1.4         0.2  Iris-setosa
1          4.9         3.0          1.4         0.2  Iris-setosa
2          4.7         3.2          1.3         0.2  Iris-setosa
3          4.6         3.1          1.5         0.2  Iris-setosa
4          5.0         3.6          NaN         0.2  Iris-setosa

In [6]:
print(irisdf["PetalLength"][4] + irisdf["PetalWidth"][4] )

nan

In [7]:
print(irisdf.isna().values.any())
print(irisdf.isna())


for i in irisdf :
  print(i, " : ", irisdf[i].isna().values.any())

True
     SepalLength  SepalWidth  PetalLength  PetalWidth  Class
0          False       False        False       False  False
1          False       False        False       False  False
2          False       False        False       False  False
3          False       False        False       False  False
4          False       False         True       False  False
..           ...         ...          ...         ...    ...
145        False       False        False       False  False
146        False       False        False       False  False
147        False       False        False        True  False
148        False       False        False       False  False
149        False       False        False       False  False

[150 rows x 5 columns]
SepalLength  :  False
SepalWidth  :  False
PetalLength  :  True
PetalWidth  :  True
Class  :  False

In [8]:
irisdf_new = irisdf.dropna()
print(len(irisdf_new))

146

In [9]:
newIrisDataFill = irisdf.fillna(0)
print(newIrisDataFill.isna().values.any())
print(len(newIrisDataFill))

False
150

In [10]:
meanPetalLength = irisdf_new["PetalLength"].mean()
irisdf_new["PetalLength"].fillna(meanPetalLength)

0      1.4
1      1.4
2      1.3
3      1.5
5      1.7
      ...
144    5.7
145    5.2
146    5.0
148    5.4
149    5.1
Name: PetalLength, Length: 146, dtype: float64